p {
	font-family: Raleway;
	color: #ffffff;
	text-align: center;
}
#title {
	position: absolute;
	top: 65%;
	font-size: 40pt;
	left: 12%;
	font-family: Roboto Slab;
	color: #DE1F70;
	font-weight: medium;
	letter-spacing: -.8px;

}

#sub {
	position: absolute;
	top: 75%;
	left: 12.3%;
	font-weight: lighter;
	font-family: Raleway;
	color: #ffffff;
	background-color: #808080;
}

#links {
	position: absolute;
	top: 78%;
	left: 12.3%;
	font-size: 9.5pt;
	font-weight: lighter;
	font-family: Raleway;
}

a {
	color: #808080;
	text-decoration: none;
	letter-spacing: .9px;

}

a:hover {
	color: #DC80A5;
	text-decoration: none;
}

a.view {
	right: 1%;
	top: .5%;
	color: #ffffff;
	text-decoration: none;
	font-family: Raleway;
	font-weight: lighter;
	font-size: 10pt;
	position: absolute;
	z-index: 50;
}
a.view:hover {
	color: #DC80A5;
	text-decoration: none;
}



/*.box {
	position: absolute;
	right: 1%;
	top: .5%;
	color: #ffffff;
	text-decoration: none;
	font-family: Raleway;
	font-weight: lighter;
	font-size: 10pt;


}

.box.a:hover{
	color: #808080;
}*/
.foreBlock {
	height: 375px;
	width: 500px;
	position: absolute;
	top:35%;
	left: 7%;
	background-color: #ffffff;
	z-index: 0;


}

.midBlock {
	height: 375px;
	width: 500px;
	position: absolute;
	top:32%;
	left: 8%;
	background-color: #DE1F70;
	z-index: -1;
	transition-duration: 2s;

}

.midBlock:hover {
	left: 38%;

}

#info {
	position: absolute;
	top: 10%;
	left: 25%;
	padding-right: 18px;
}

.projLinks {
	position: absolute;
	top: 10%;
	left: 31%;
	padding-right: 18px;
/*	display: block;*/
}

#design {
	height: 150px;
	width: 325px;
	position: absolute;
	background-color: #ffffff;
	text-align: center;
	float: left;
}

#projects {
	height: 150px;
	width: 325px;
	position: absolute;
	clear: both;
	background-color: #ffffff;
	text-align: center;
}

.backBlock {
	height: 375px;
	width: 500px;
	position: absolute;
	top:29%;
	left: 8.8%;
	background-color: #3B3249;
	z-index: -5;
	transition-duration: 2s;
}

.backBlock:hover {
	left: 36%;
}
body {
	background-color: #F7F7F7;
}