<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/assets/favicon.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300|Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/projects.css">

    <title>Emily To</title>
  </head>
  <body>
    <nav class="stable">
      <a href="/"><img class="icon" src="/assets/logo1.png"/></a>
      <ul>
        <li><a href="/views/about/">ABOUT</a></li>
        <li><a href="/views/work/">WORK</a></li>
        <li><a href="mailto:emilytoe@gmail.com">CONTACT</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="head-img ideaswatch">
      </div>
      <div class="module">
        <div class="subtitle">
          IdeaSwatch
        </div>
        <div class="subtext">
          <span class="subheader">IdeaSwatch happened while I was waiting for the iphone 6 to come out. I wanted to learn about RESTful API's, so I decided I would try it out. At this point, I had already done a few tutorials on setting up Node servers and working with Mongo, so I decided to make something that might be a little more useful in the context of design. This project was primarily aimed at just learning how API's work, and how Angular routing works. Users can enter information such as a title, blurb, links, and hexes. The idea for this was it could just serve as a quick reference link for people who wanted to share palettes, something that happens a lot in design groups. Ideally, I would have wanted to add some sort of OAuth login, but it wasn't really necessary or in the scope of the project. Got to try out unique URL's and got familiar with RESTful API's!</span>
          <div class="shots">
            <img src="/assets/screenshots/ideaSwatch/p1.png">
            <img src="/assets/screenshots/ideaSwatch/p2.png">
          </div>
          <div class="tech">
            <span class="sublabel">Technologies</span>
            Angular.js, HTML, CSS, Mongo, Node.js, Express.js
          </div>

          <div class="lessons">
            <span class="sublabel">Lessons</span>
            First experience dealing with single page application<br>
            Decided on a MVP I could get done before the iphone 6 came out<br>
            Minimalism is your best friend.
          </div>

          <a href="https://ideaswatch.herokuapp.com"><div class="live-ref">Check it out live!</div></a>
        </div>
      </div>
    </div>
  </body>
</html>