<div class="about-wrapper">
  <div class="head-pic">
    <div class="intro">
      Hi! I'm a third-year studying <h4><a href="http://www.eecs.berkeley.edu/">computer science</a></h4> at University of California, Berkeley. I love to meet at the intersection of <h4><a href="http://www.hackster.io/emilyto">technology and design</a></h4>, especially as a <h4><a href="https://github.com/emto">coder</a></h4> with a particular taste for <h4><a href="http://cmyk.innovativedesign.club/">minimalism</a></h4>. When I'm not leading a <h4><a href="http://innovativedesign.club/">design team</a></h4>, I love <h4><a href="https://medium.com/@Toesday">good tea</a></h4> and <h4><a href="https://medium.com/@Toesday">cats</a></h4>. 
    </div>
    
  <div class= "columns">
    <div class="skill-title">Skills</div>
    <div class="skill-bar"></div>
    <div class="panel-container">
      <div class="code panel">Code
        <div class="panel-body">
          Java<br>
          Python<br>
          Javascript<br>
          jQuery<br>
          Node.js<br>
          HTML<br>
          CSS<br>
        </div>
      </div>
      <div class="design panel">Design
        <div class="panel-body">
          Mockups<br>
          Wireframing<br>
          Branding<br>
          Illustrator<br>
          Photoshop<br>
        </div>
      </div>

      <div class="progress panel">Progress <h5><a href="https://medium.com/@Toesday">follow me on my learning!</a></h5>
        <div class="panel-body">
          Angular.js<br>
          Arduino<br>
          Android<br>
        </div>
      </div>
  </div>

  </div>

  </div>
</div>