    <div class="outer">
        <div class="content-wrapper">
            <span class="name">EMILY TO</span>

            <div class="circle abt" data-ng-click="place('about')">
              <a href=""><div class="about">
              </div>
              <div class="ref title">ABOUT</div>
            </a>
            </div>

            <div class="circle">
              <a href="https://github.com/emto"><div class="ref work">
                WORK
              </div>
            </a>
            </div>

            <div class="circle">
              <a href="mailto:emilytoe@gmail.com"><div class="ref design">
                CONTACT
              </div>
              </a>
            </div>

            <div class="circle code">
              <a href="http://ideaswatch.herokuapp.com/"><div class="project"></div>
              <div class="ref recent">
                RECENT PROJECT
              </div>
              </a>
            </div>


        </div>
    </div>