<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/assets/favicon.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300|Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/projects.css">

    <title>Emily To</title>
  </head>
  <body>
    <nav class="stable">
      <a href="/"><img class="icon" src="/assets/logo1.png"/></a>
      <ul>
        <li><a href="/views/about/">ABOUT</a></li>
        <li><a href="/views/work/">WORK</a></li>
        <li><a href="mailto:emilytoe@gmail.com">CONTACT</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="head-img iter1">
      </div>
      <div class="module">
        <div class="subtitle">
          Personal Site Iteration 1
        </div>
        <div class="subtext">
          <span class="subheader">11 months ago, I decided to create my personal website. This mainly served as an online presence that would allow people to easily locate my most recent project, as well as a few links that I wanted to associate to myself. This ranged from github, to Medium, to random facts about me. It was sufficient at most, and as I grew as a developer, it just became out of date. It did not portray my interests, nor did it properly represent my growth. So as of Aug 24, the old site has been under heavy construction! & Here we are now.</span>
          <div class="shots">
            <img src="/assets/screenshots/oldSite/oldsite_icon.png">
            <img src="/assets/screenshots/oldSite/p1.png">
          </div>
          <div class="tech">
            <span class="sublabel">Technologies</span>
            Angular.js, HTML, CSS
          </div>

          <div class="lessons">
            <span class="sublabel">Lessons</span>
            Angular was actually really unnecessary<br>
            Animations are handy in Angular though<br>
            Circles are delightful to make<br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>