<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300|Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/projects.css">

    <title>Emily To</title>
  </head>
  <body>
    <nav class="stable">
      <a href="/"><img class="icon" src="/assets/logo1.png"/></a>
      <ul>
        <li><a href="/views/about/">ABOUT</a></li>
        <li><a href="/views/work/">WORK</a></li>
        <li><a href="mailto:emilytoe@gmail.com">CONTACT</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="head-img dnanexus">
      </div>
      <div class="module">
        <div class="subtitle">
          DNAnexus
        </div>
        <div class="subtext">
          <span class="subheader">DNAnexus is a cloud-based genome informatics & data management platform based in Mountain View, California. The platform allows for scalable analysis of raw sequencing data, as well as a medium for collaboration across scientists and organizations. In the summer of 2015, I had the opportunity to intern as a Software Development Intern in the Membrane team. I divided my internship between implementing features on the platform, and building an internal dashboard from scratch. The dashboard, which is used for a overview of both company and system health, allowed me to define, build, and refine a product from scratch. The project was successfully delivered at the end of the internship, and is to be used as a primary company health & system diagnostic tool at DNAnexus.</span>
          <div class="shots">
            <img src="/assets/screenshots/dnanexus/p1.png">
            <img src="/assets/screenshots/dnanexus/p2.png">
            <img src="/assets/screenshots/dnanexus/p3.png">
            <img src="/assets/screenshots/dnanexus/p4.png">
          </div>
          <div class="tech">
            <span class="sublabel">Technologies</span>
            Knockout.js, Bootstrap, HTML, LESS, CoffeeScript, D3.js, jQuery<br>
            Prototyping: Adobe Illustrator, Keynote
          </div>

          <div class="lessons">
            <span class="sublabel">Lessons</span>
            First time building a product that people depend on daily<br>
            Conducted extensive user interviews<br>
            Agile sprint planning<br>
            MVP definition & Feature weighing<br>
            Production-level data vs. Staging data<br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>