<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300|Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/projects.css">

    <title>Emily To</title>
  </head>
  <body>
    <nav class="stable">
      <a href="/"><img class="icon" src="/assets/logo1.png"/></a>
      <ul>
        <li><a href="/views/about/">ABOUT</a></li>
        <li><a href="/views/work/">WORK</a></li>
        <li><a href="mailto:emilytoe@gmail.com">CONTACT</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="head-img cmyk">
      </div>
      <div class="module">
        <div class="subtitle">
          CMYK
        </div>
        <div class="subtext">
          <span class="subheader">CMYK is an annual designathon hosted by UC Berkeley's design group, Innovative Design. In Fall 2014, I was given the opportunity to organize this event, which involved meeting with professional designers and organizing panels that spanned from UX to visual branding. I had the privilege of working with designers from companies such as Turner Duckworth and Pixar, which made the publicity of the event all the more crucial. I contributed heavily to the event page of CMYK Designathon, which was used as the primary source of information for registration, information, and competition submissions.</span>
          <div class="shots">
            <img src="/assets/screenshots/cmyk/p1.png">
            <img src="/assets/screenshots/cmyk/p2.png">
            <img src="/assets/screenshots/cmyk/p3.png">
            <img src="/assets/screenshots/cmyk/p4.png">
          </div>
          <div class="tech">
            <span class="sublabel">Technologies</span>
            Angular.js, HTML, CSS
          </div>

          <div class="lessons">
            <span class="sublabel">Lessons</span>
            First time playing with keyframes!<br>
            Designing a website for designers is hard work.<br>
            Minimalism is your best friend.
          </div>

          <a href="http://cmyk.innovativedesign.club"><div class="live-ref">Check it out live!</div></a>
        </div>
      </div>
    </div>
  </body>
</html>