<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300|Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/work.css">

    <title>Emily To</title>
  </head>
  <body>
    <nav class="stable">
      <a href="/"><img class="icon" src="/assets/logo1.png"/></a>
      <ul>
        <li><a href="/views/about/">ABOUT</a></li>
        <li><a href="/views/work/">WORK</a></li>
        <li><a href="mailto:emilytoe@gmail.com">CONTACT</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="subtitle">
        Projects & More
      </div>
      <div class="module">
        <a href="/views/work/cmyk/">
          <div class="card">
            <div class="card-img">
              <img src="/assets/screenshots/cmyk/cmyk_icon_main.png">
            </div>
            <div class="card-text">
              <span class="card-title">CMYK Design Competition</span>
            </div>
          </div>
        </a>
        <a href="/views/work/dnanexus/">
          <div class="card">
            <div class="card-img">
              <img src="/assets/screenshots/dnanexus/dnanexus_icon_main.png">
            </div>
            <div class="card-text">
              <span class="card-title">Internship @ DNANexus</span>
            </div>
          </div>
        </a>
        <a href="/views/work/ideaswatch/">
          <div class="card">
            <div class="card-img">
              <img src="/assets/screenshots/ideaSwatch/ideaswatch_icon_main.png">
            </div>
            <div class="card-text">
              <span class="card-title">Swatch & Idea Archive</span>
            </div>
          </div>
        </a>
        <a href="/views/work/iter2/">
          <div class="card">
            <div class="card-img">
              <img src="/assets/screenshots/newSite/newsite_icon_main.png">
            </div>
            <div class="card-text">
              <span class="card-title">Personal Site Iteration 2</span>
            </div>
          </div>
        </a>
        <a href="/views/work/iter1/">
          <div class="card">
            <div class="card-img">
              <img src="/assets/screenshots/oldSite/oldsite_icon_main.png">
            </div>
            <div class="card-text">
              <span class="card-title">Personal Site Iteration 1</span>
            </div>
          </div>
        </a>
        <a href="https://github.com/emto">
          <div class="card">
            <div class="card-img">
              <img src="/assets/screenshots/git_icon_main.png">
            </div>
            <div class="card-text">
              <span class="card-title">More projects on Github!</span>
            </div>
          </div>
        </a>
        <a href="https://www.hackster.io/emilyto">
          <div class="card">
            <div class="card-img">
              <img src="/assets/screenshots/hackster_icon_main.png">
            </div>
            <div class="card-text">
              <span class="card-title">More projects on Hackster!</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>