<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300|Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <title>Emily To</title>
  </head>
  <body>
    <nav class="stable">
      <a href="/"><img class="icon" src="/assets/logo1.png"/></a>
      <ul>
        <li><a href="/views/about/">ABOUT</a></li>
        <li><a href="/views/work/">WORK</a></li>
        <li><a href="mailto:emilytoe@gmail.com">CONTACT</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="subtitle">
        Emily To
      </div>
      <div class="main">
        student + developer @ UC Berkeley
      </div>
      <div class="module">
        <div class="about-img">
          <img class="portrait" src="/assets/pic2.png"/>
          <div class="redir">
            <ul>
              <li><a href="https://www.linkedin.com/in/emilyto"><img class="ref-icons" src="/assets/linkedin.png"></a></li>
              <li><a href="https://github.com/emto"><img class="ref-icons" src="/assets/github.png"></a></li>
              <li><a href="https://www.hackster.io/emilyto"><img class="ref-icons" src="/assets/hackster.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="about-text">
          <div class="moar">
            <div class="facts">
              Software Development Intern at <a href="https://dnanexus.com">DNAnexus</a> • Design Lead at <a href="http://innovativedesign.club">Innovative Design</a> • Occasional <a href="https://www.hackster.io/emilyto">Tinkerer</a> • CAPS LOCK ENTHUSIAST
              <div class="blurb">
                Hi! I'm a senior studying computer science at University of California, Berkeley. When I'm not coding, tinkering, designing, or keyboard mashing, I'm researching and experiencing new potential cooking disasters.<br>

              </div>
            </div>
            <div class="skills">
              <div class="skill-list">
                <span class="skill">Web Tools</span>
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JavaScript</li>
                  <li>jQuery</li>
                  <li>CoffeeScript</li>
                  <li>d3.js</li>
                </ul>
                <span class="skill">Programming</span>
                <ul>
                  <li>Java</li>
                  <li>Python</li>
                  <li>Android</li>
                </ul>
                <span class="skill">Design</span>
                <ul>
                  <li>Illustrator</li>
                  <li>Photoshop</li>
                  <li>Mock Ups</li>
                </ul>
                <span class="skill">Product</span>
                <ul>
                  <li>Wireframing</li>
                  <li>Prototyping</li>
                  <li>Arduino</li>
                  <li>Fabrication</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>