<head>
  <meta charset="utf-8">
  <title>Boy</title>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="script.js" type="text/javascript" charset="utf-8" async defer></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="complaints">
    <form>
      <label>Tell me your qualms</label><br>
      <input type="text" class="name">
      </input>
    </form>
  </div>
  <div class="boyfriend">
    <div class="response">
    </div>
  </div>
  <div class="info">
    <a href="" class="button">
      <img src="info.png">
      <div class="about">
      Hi! I operate with the same emotional range of a boyfriend!
    </div>
    </a>
    
  </div>
</body>