head, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding: 40px;
  background-color: #cc0066;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
}

form label {
  font-size: 50px;
  margin-bottom: 60px;
}

form input {
  margin-left: 10px;
  background-color: transparent;
  border-style: none;
  border-bottom:solid 1px #fff;
  width: 500px;
  font-size: 40px;
  color: #fff;
  font-family: 'Lato';
}

form input:focus {
  outline: none;
}

.complaints {

  margin-bottom: 100px;
}

.boyfriend {
  padding: 0px 30px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.response {
  top: 50%;
}

a .about {
  position: absolute;
  bottom: 15px;
  left: 50px;
  opacity: 0;
  text-decoration: none;
  color: #fff;
}

a:hover .about {
  opacity: 1;
}

.info img{
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
