<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/assets/favicon.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300|Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/projects.css">

    <title>Emily To</title>
  </head>
  <body>
    <nav class="stable">
      <a href="/"><img class="icon" src="/assets/logo1.png"/></a>
      <ul>
        <li><a href="/views/about/">ABOUT</a></li>
        <li><a href="/views/work/">WORK</a></li>
        <li><a href="mailto:emilytoe@gmail.com">CONTACT</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="head-img iter2">
      </div>
      <div class="module">
        <div class="subtitle">
          Personal Site: Iteration Dos
        </div>
        <div class="subtext">
          <span class="subheader">11 Months after my last commit, I decided it was about time to re-do my site. Something about it just seemed thrown together. Angular being part of it didn't really make sense, the circles seemed incredibly random, and I had just so much more work to showcase from the last year. I wanted a site that could be more content-driven and more representative of my style rather than something that just acted as a link redirect to Github or Linkedin. So I decided to start pursuing some ideas I had stashed away in the last few months. <br><br>What you see now is the result of 11 month's worth of stashed away inspirations. The home page is built with Snap.svg, and is some strange abstraction of my first name. I initially encountered this on a site I religiously follow, hypem.com. I remember the first time I saw this, I just couldn't stop refreshing to watch the svg animate itself over and over again. So I decided I wanted my own.</span><br>
          <img class="inspiration" src="/assets/screenshots/newSite/p5.png"><br>
          HypeMachine's Zeitgeist 2014 SVG!<br>

          <div class="shots">
            <img src="/assets/screenshots/newSite/p1.png">
            <img src="/assets/screenshots/newSite/p2.png">
            <img src="/assets/screenshots/newSite/p3.png">
            <img src="/assets/screenshots/newSite/p4.png">
          </div>
          <div class="tech">
            <span class="sublabel">Technologies</span>
            Snap.svg, HTML, CSS, jQuery, Javascript
          </div>

          <div class="lessons">
            <span class="sublabel">Lessons</span>
            Drawing and calculating svg's is not so glamorous<br>
            If there's a solid vision, things tend to go faster<br>
            Use technologies only where necessary<br>
            Online presence should reflect growth and interests<br>
            I feel that my site is now a pretty proper portrayal of me, and I hope you enjoy it!<br>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>